  <!-- Header section  -->
  <header class="container section-header">
    <div class="logo-section">
        <span class="logo">LOGO</span>
    </div>
    <nav class="navbar-menu wrap-content">
        <ul class="navbar-ul">
            <li class="navbar-item"><a href="#" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">About us</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">Synonyms</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">Pronunciation</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">Contact us</a></li>
        </ul>
    </nav>
</header>
<!-- Header section end  -->